.Bar_Top {
  --bar-top-row-height: 64px;
  --bar-top-title-left-padding: 20px;
  --bar-top-section-vertical-padding: 8px;
  --bar-top-section-horizontal-padding: 12px;

  --bar-top-content-display: none;

  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  background-color: #6f3199;
  z-index: 105;
  box-shadow: var(--elevation-umbra-4) var(--elevation-umbra-color),
    var(--elevation-penumbra-4) var(--elevation-penumbra-color);

  transition: background-color 500ms ease-in-out;
}


@media (min-width: 768px) {
  .Bar_Top {
    --bar-top-menu-button-display: none;
    --bar-top-content-display: inline-flex;
  }
}

.Bar_Top__Row {
  display: flex;
  position: relative;
  width: 100%;
  height: var(--bar-top-row-height);
}

.Bar_Top__Section {
  display: inline-flex;
  flex: 1 1 auto;
  align-items: center;
  min-width: 0;
  padding: var(--bar-top-section-vertical-padding)
    var(--bar-top-section-vertical-padding);
  z-index: 1;
}

.Bar_Top__Section_align_start {
  justify-content: flex-start;
  order: -1;
}

.Bar_Top__Section_align_end {
  display: var(--bar-top-content-display);
  justify-content: flex-end;
  order: 1;
}

.Bar_Top__Title {
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 500;
  text-decoration: inherit;
  text-transform: inherit;

  padding-left: var(--bar-top-title-left-padding);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  z-index: 1;
}

.Bar_Top__MenuButton {
  display: var(--bar-top-menu-button-display);
}

.Bar_Top__Icon {
  height: 2rem;
  width: 2rem;
  margin: 0;
}
